<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>读者系统</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link href="{% static 'css/index.css' %}" rel="stylesheet" >

</head>
<body>
<div id="navbar">

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">读者系统</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">读者界面</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ request.session.student_name }} 您好！</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>

<div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              {% block nav %}
            <li class="active"><a href="{% url 'selfInfo' %}">个人信息</a></li>
            <li><a href="{% url 'circulate' %}">我的流通</a></li>
            <li><a href="{% url 'readerSearch' %}">检索</a></li>
              {% endblock %}
          </ul>
        </div>

        <div class=" col-md-10 main">

          {% block mainbody %}
          {% endblock %}

        </div>
{#        <div class="col-md-1"></div>#}

      </div>
    </div>

</body>
</html>